@{ 
    ViewBag.TitleExtension = "- About";
    ViewBag.pageName = "About";
}

<div class="page-div">
    <h1>About David</h1>
    <h3>Brief Bio</h3>
    <p>I was born in Seattle, Wa and lived there the first 13 years of my life.</p>
    <p>I moved to Dallas, Tx when I was 13 and lived there for 6ish years.</p>
    <p>I now live in Lousiville, Ky.  I attend Indiana University Southeast.</p>

    <h3>Interests</h3>
    <p>
        I enjoy learning, especially history.  If a history degree could actually make money, I would have one.  It makes a good hobby, though.
        My pet topic is World War I.  It was such an intersting time and so much of our modern world's problems go back to that time period.
    </p>
    <p>
        I also really enjoy coding.  At this point I wouldn't ever want to go into management.  I thought that I wanted to do UI design when
        I graduated, but after learning more about when they do, I realized that most of my time would be spent in photoshop and not the code
        editor which was not appealing to me.
    </p>
</div>