
@{
    ViewBag.Title = "David Paller " + ViewBag.TitleExtension;
}

<div id="home" class="page-div" style="height: auto; margin-top: auto;">
    @Html.Partial("Home")
</div>

@*<div id="resume" class="page-div">
    @Html.Partial("Resume")

</div>

<div id="about" class="page-div">
    @Html.Partial("About")
</div>

<div id="contact" class="page-div">
    @Html.Partial("Contact")
</div>

<div id="elevator">
    <button class="btn btn-default elevator-btn text-center">Back to the Top</button>
    <script src="~/scripts/elevator.js"></script>
    <script>
        window.onload = function() {
        var elevator = new Elevator({
        element: document.querySelector('.elevator-btn'),
        //mainAudio: "elevator.mp3",
        //endAudio: 'ding.mp3'
  });
}
    elevator.elevate();
    </script>
</div>*@