
@{
    ViewBag.Title = "David Paller " + ViewBag.TitleExtension;
    ViewBag.pageName = "Home";
}

<div id="home" class="page-div">
    <h1 id="DPHead">David Paller</h1>
    <div class="well">
        
        <p>I was born in Seattle, WA.  I lived in Dallas, TX for six year and I'm now a current resident of Louisville, KY.</p>
        <p>
            I'm pursing a BS in Computer Science at Indiana University Southeast.  I will most likely graduate from there in Summer
            of 2017.
        </p>
        <p>
            I haven't done a whole lot in the professional world yet.  Some classmates and I created <a href="https://shamethethrones.com/">
                Shame the Thrones
            </a> as part of a class project and I am also an intern at <a href="http://public.zirmed.com/">ZirMed</a>.
        </p>
        <p>
            Some of my favorite topics in the computer science world are security and web development.
        </p>
        <p>You can see some of my work on my <a href="https://github.com/d-paller">GitHub</a> account. </p>
    </div>
</div>