
@{
    ViewBag.Title = "David Paller ";
}

<div id="home" class="page-div" style="height: auto; margin-top: auto;">
    @Html.Partial("Home")
</div>

<div id="resume" class="page-div">
    @Html.Partial("Resume")

</div>

<div id="about" class="page-div">
    @Html.Partial("About")
</div>

<div id="contact" class="page-div">
    @Html.Partial("Contact")
</div>

<div id="elevator">

</div>