
@{
    ViewBag.Title = "David Paller " + ViewBag.TitleExtension;
    ViewBag.pageName = "Home";
}

<div id="home" class="page-div">
    <p align="justify">
        Lorem ipsum dolor sit amet, praesent suspendisse placerat, ut justo arcu, ullamcorper volutpat ut nulla praesent, pede amet fringilla mattis eros tempus tincidunt. Nibh aptent eu tempus sed, accumsan in sagittis dolor duis eum, mus quisque sit duis vestibulum ut blandit, ullamcorper id lacus. Lacus in tellus enim id nulla nam, mi ipsum nullam nec gravida nec ante, eros ultricies sodales a. Dis tellus nunc, quam neque dolor tincidunt aliquam dui suspendisse, amet nostra massa sed amet risus, nullam vel, aenean orci. Aliquam risus senectus volutpat aliquet mauris nullam. Mi erat luctus praesent odio, eros vel enim posuere commodo ut, vestibulum porttitor fusce et ultrices, vehicula est porttitor lectus. Dictumst varius convallis, sapien natus non, culpa non adipisicing ultricies at, pharetra est eget ut taciti.
    </p>
    <p align="justify">
        Lorem ipsum dolor sit amet, praesent suspendisse placerat, ut justo arcu, ullamcorper volutpat ut nulla praesent, pede amet fringilla mattis eros tempus tincidunt. Nibh aptent eu tempus sed, accumsan in sagittis dolor duis eum, mus quisque sit duis vestibulum ut blandit, ullamcorper id lacus. Lacus in tellus enim id nulla nam, mi ipsum nullam nec gravida nec ante, eros ultricies sodales a. Dis tellus nunc, quam neque dolor tincidunt aliquam dui suspendisse, amet nostra massa sed amet risus, nullam vel, aenean orci. Aliquam risus senectus volutpat aliquet mauris nullam. Mi erat luctus praesent odio, eros vel enim posuere commodo ut, vestibulum porttitor fusce et ultrices, vehicula est porttitor lectus. Dictumst varius convallis, sapien natus non, culpa non adipisicing ultricies at, pharetra est eget ut taciti.
    </p>

</div>

@*<div id="resume" class="page-div">
    @Html.Partial("Resume")

</div>

<div id="about" class="page-div">
    @Html.Partial("About")
</div>

<div id="contact" class="page-div">
    @Html.Partial("Contact")
</div>

<div id="elevator">
    <button class="btn btn-default elevator-btn text-center">Back to the Top</button>
    <script src="~/scripts/elevator.js"></script>
    <script>
        window.onload = function() {
        var elevator = new Elevator({
        element: document.querySelector('.elevator-btn'),
        //mainAudio: "elevator.mp3",
        //endAudio: 'ding.mp3'
  });
}
    elevator.elevate();
    </script>
</div>*@