@{ 
    ViewBag.TitleExtension = " - Resume";
}

<div class="page-div">
    <h4>Download Resume</h4>
    <br />
    @Html.ActionLink("Download As Word Doc", "GetResume", null, new { @class = "btn btn-default" })
</div>