@{ 
    ViewBag.TitleExtension = "- Resume";
    ViewBag.pageName = "Resume";
}




<div id="resume">
    <div class="pdfView">
        @Html.Partial("Resume/PdfResumePartial")
    </div>

    <div class="download-btn panel-footer ">
        <label><h4>Download Resume: </h4></label>
        @Html.ActionLink("Download As Word Doc", "GetResume", null, new { @class = "btn btn-primary" })
    </div>
</div>