#home{
    background-color:cadetblue;
}

#resume{
    background-color:#525659;
} 



#contact{
    background-color: #3277b3;
}

.page-div{
    padding: 10%;
}

p{
    text-align: center;
    font-size: large;
}

.well{
    box-shadow: inset 0px 0px 20px;
    padding: 10%;
    margin: auto;
}


.download-btn{
    background-color: #28567e;
    color: white;

}


.social-icon {
    height: 17px;

}

.git-icon{
    -webkit-filter: invert() contrast(1%);
    height: 17px;

}

.navIcon:hover{
    -webkit-filter: grayscale(100%) brightness(-110%);
}


.pdfView{
    margin-left: 0px;
    margin-right: 0px;
}

.menu-active {
    background-color: #2e6ea6;
}

.navbar{
    box-shadow: black 0px 5px 20px;    
}


footer{
    box-shadow: black 0px 0px 20px;
}

.contact-panel{
    box-shadow: black 0px 0px 20px;
    background-color: #ededed;
    font-size:x-large;
}

#DPHead{
    text-align:center;
    font-size: 100px;
    font-family:Rockwell;
}

.error-page{
    background-color: #5e0000;
    height: 100%;
}