#home{
    background-color:black;
}

#resume{
    background-color:#525659;
} 

#about{
    background-color:cadetblue;
}

#contact{
    background-color: darkgray;
}

.page-div{
    padding: 10%;
}


.download-btn{
    background-color: #2e6ea6
}


.social-icon {
    height: 15px;
    margin-bottom: 4px;
}

.navIcon:hover{
    -webkit-filter: grayscale(100%) brightness(-110%);
}


.pdfView{
    margin-left: 0px;
    margin-right: 0px;
}

.menu-active {
    background-color: #2e6ea6;
}

.active{
    background-color: #2e6ea6;
}