#home{
    background-color:black;
}

#resume{
    background-color:#525659;
} 

#about{
    background-color:cadetblue;
}

#contact{
    background-color: darkgray;
}

.page-div{
    padding: 10%;
}


.download-btn{
    
}


.social-icon {
    height: 40px;
    margin: 5px;
}

.pdfView{
    margin-left: 0px;
    margin-right: 0px;
}
