
@{
    ViewBag.TitleExtension = " - Contact Error";
}

<div class="page-div">
    <div class="panel panel-danger">
        <div class="panel-heading" style="color:red">
            <h1><span class="glyphicon glyphicon-remove"></span>Error</h1>
        </div>
        <div class="panel-body">
            <h3>I'm sorry, something went wrong.</h3>
            <h3>Please try again, and if the problem continues...</h3>
            <h3>Cry me a river, build a bridge and get over it!</h3>
        </div>

        <div class="panel-footer">
            <a href="@Url.Action("Contact")" class="btn btn-default">Go Back</a>
        </div>
    </div>
</div>